<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.FAlthausen.LigatureCaret</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ligature Caret</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/FAlthausen/LigatureCaret/master/LigatureCaret.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/FAlthausen/LigatureCaret</string>
	<key>productReleaseNotes</key>
	<string>Fix Preview: only show when selected.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Friedrich Althausen, 2017</string>
	<key>NSPrincipalClass</key>
	<string>LigatureCaret</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
